<h2>Облік програмістів</h2>
<br />
<div>
    <ul>
        <li><a asp-controller="Home" asp-action="Project">Проект</a></li>
        <li><a asp-controller="Home" asp-action="Operation">Призначення</a></li>
        <li><a asp-controller="Home" asp-action="Users">Програмісти</a></li>
    </ul>
</div>