<div>
    <ul>
        <li><a asp-controller="Operations" asp-action="AssignOnProject">Призначити програміста на проект</a></li>
        <li><a asp-controller="Operations" asp-action="RemoveFromProject">Зняти програміста з проекта</a></li>
    </ul>
</div>
